apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5001
              protocol: TCP          
          resources:
            requests:
              cpu: "{{ .Values.resources.requests.cpu }}"
              memory: "{{ .Values.resources.requests.memory }}"
            limits:
              cpu: "{{ .Values.resources.limits.cpu }}"
              memory: "{{ .Values.resources.limits.memory }}"
          env:
          - name: DOCLING_SERVE_ENG_LOC_NUM_WORKERS
            value: '{{ .Values.env.DOCLING_SERVE_ENG_LOC_NUM_WORKERS }}'
          - name: DOCLING_SERVE_ENABLE_UI
            value: '{{ .Values.env.DOCLING_SERVE_ENABLE_UI }}'
          - name: DOCLING_SERVE_OTEL_ENABLE_PROMETHEUS
            value: '{{ .Values.env.DOCLING_SERVE_OTEL_ENABLE_PROMETHEUS }}'